@import './variables';

* {
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
    margin: 0;

}

.navbar {
    font-weight:$weight;

    &-logo{
        background-color: $blue;
        color: $white;
        height: 41px;
        width: 41px;
        border: none;
        border-radius: 50px;
        font-size: 26px;
        line-height: 33px;
        margin-right: 10px;
        text-align: center;
        
    
    }
}

.logo-name {
    color: rgba(35, 51, 72, 1);
    font-size: 24px;   
    line-height: 30px;
    padding-top: 5px;
}

.footer-logo{
    background-color: $white;
    color: $blue;
    height: 41px;
    width: 41px;
    border: none;
    border-radius: 50px;
    font-size: 26px;
    line-height: 33px;
    margin-right: 10px;
    text-align: center;
    font-weight: 700;
    padding: 20px;

}

.footer-name {
    color: $white;
    font-size: 24px;   
    line-height: 30px;
    padding-top: 5px;
}

.options {
    
    font-size: 16px;
    font-weight: 300;
    line-height: 38px;

}

.title {
    font-size: 18px;
}
 
para1 {
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    color: $greytext;
}

para2 {
    
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: $greytext;
    

}

.heading {
    font-weight:$weight;
    color: $black;
    font-size: 48px;
    line-height: 56px;

        &-1{        
            font-size: 36px;
            font-weight: $weight;
            line-height: 56px;

                &-review {
                    color: $white;
                    font-size: 36px;
                    font-weight: $weight;
                    line-height: 56px;
                }
        
        }

          

}

.button{
    background-color: $blue;
    color: $white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight:$weight;
    width: 200px;
    height: 58px;

}

hr {
    color:$black;
    opacity: 1;
    width:5%;
    align-self: center;
    border-radius: 5px;

}

.card-services {
    
    border-radius: 20px;
    border: none;
    box-shadow: 10px 40px 50px 0px rgba(222, 223, 229, 0.4);

        &-img-top-services {
            width: 90px;
            min-height: 120px;        
        }

}

.card-article {
    width: 350px;
    border-radius: 18px;
    box-shadow: 10px 40px 50px 0px rgba(222, 223, 229, 0.4);
    border: none;

}

.card {
    &-title {            
        font-size: 24px;
        font-weight: $weight;
        line-height: 32px;
    }

    &-text {         
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;

    }

    &-container {
        position: relative;
    }

    &-background {
        margin-top: -147px;
    }
}

.learn-more {
    border: 1.4px solid $blue;
    color: $blue;
    font-size: 18px;
    font-weight: $weight;
    height: 50px;
    width: 200px;
    
}

.arrow {
    color: $blue;
    cursor: pointer;
}

.download {
    border: 1.4px solid $blue;
    color: $blue;
    font-size: 18px;
    font-weight: $weight;
    height: 50px;
    width: 232px;
}

.review {
    color: $white;
}

.reviews {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);

}

.actual-review{
    color: $white;
}

.profile {
    width: 50%;

    &-image {
        height: 90px;
        width: 90px;
        border: 2px solid $white;
        border-radius: 50px;
    }

    &-review {
        width: 50%;
    }


}

.dot1 {
    color: $blue;
    cursor: pointer;
}

.dot {
    color: $blue;
    opacity: 30%;
    cursor: pointer;
}

.navigation {
    font-size: xx-large;
}

.side-image-5 {
    right: 105px;
    top: -13px;
    z-index: 2;

}

.side-image-6 {         
    bottom: 30px;
    left: 94px;
    z-index: -1;        
}

.side-image-7 {
    top: 150px;
    left: 117px;

}

.footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: $white;
}

.column-1 {
    width: 50%;
}

.footer-image {
    z-index: -1;
    bottom: -40px;
}



@import './responsive';

