@charset "UTF-8";
* {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  font-weight: 700;
}
.navbar-logo {
  background-color: rgb(69, 143, 246);
  color: rgb(255, 255, 255);
  height: 41px;
  width: 41px;
  border: none;
  border-radius: 50px;
  font-size: 26px;
  line-height: 33px;
  margin-right: 10px;
  text-align: center;
}

.logo-name {
  color: rgb(35, 51, 72);
  font-size: 24px;
  line-height: 30px;
  padding-top: 5px;
  font-weight: 700;
}

.footer-logo {
  background-color: rgb(255, 255, 255);
  color: rgb(69, 143, 246);
  height: 41px;
  width: 41px;
  border: none;
  border-radius: 50px;
  font-size: 26px;
  line-height: 33px;
  margin-right: 10px;
  text-align: center;
  font-weight: 700;
  padding: 20px;
}

.footer-name {
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 30px;
  padding-top: 5px;
}

.options {
  font-size: 16px;
  font-weight: 300;
  line-height: 38px;
  cursor: pointer;
}

.title {
  font-size: 18px;
}

.para1 {
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  color: rgb(125, 121, 135);
}

.para2,
.para4,
.para3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: rgb(125, 121, 135);
}

.para3 {
  max-width: 952px;
}

.para4 {
  color: rgb(255, 255, 255);
}

.heading {
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 48px;
  line-height: 56px;
}
.heading-1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 56px;
}
.heading-1-review {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}

.button,
.learn-more,
.download {
  background-color: rgb(69, 143, 246);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  width: 200px;
  line-height: 56px;
}

.section2 {
  margin-top: 120px;
}

hr {
  color: rgb(0, 0, 0);
  opacity: 1;
  width: 15%;
  align-self: center;
  border-radius: 5px;
}

.hr-article {
  width: 8%;
}

.card-services {
  border-radius: 20px;
  border: none;
  box-shadow: 10px 40px 50px 0px rgba(222, 223, 229, 0.4);
}
.card-services-img-top-services {
  width: 90px;
  min-height: 120px;
}

.card-img-top-services {
  min-height: 95px;
}

.card-article {
  width: 350px;
  border-radius: 18px;
  box-shadow: 10px 40px 50px 0px rgba(222, 223, 229, 0.4);
  border: none;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.card-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: rgb(125, 121, 135);
  margin: auto 0 0 0;
}
.card-text-article {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
}
.card-container {
  position: relative;
}
.card-background {
  margin-top: -147px;
}

span {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.learn-more,
.download {
  max-width: 250px;
  border: 1.4px solid rgb(69, 143, 246);
  color: rgb(69, 143, 246);
  background-color: transparent;
  z-index: 3;
}
.learn-more:hover,
.download:hover {
  color: rgb(69, 143, 246);
  border-color: rgb(69, 143, 246);
}

button {
  cursor: pointer;
}

.arrow {
  color: rgb(69, 143, 246);
  cursor: pointer;
}

.svgarrow {
  align-self: center;
}

.download {
  max-width: 232px;
}

.hr-review {
  color: rgb(255, 255, 255);
  width: 8%;
}

.reviews {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 32px;
}

.actual-review {
  color: rgb(255, 255, 255);
}

.profile {
  width: 50%;
}
.profile-image {
  height: 90px;
  width: 90px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
}
.profile-review {
  width: 50%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  content: "•";
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.3;
  color: rgb(69, 143, 246);
}

.slick-dots .slick-active button:before {
  opacity: 1;
}

.slick-dots li button::after {
  color: rgb(69, 143, 246);
}

ul {
  padding-inline-start: 0px;
  margin-bottom: 0px;
}

.navigation {
  font-size: xx-large;
}

.side-image-5 {
  right: 105px;
  top: -13px;
  z-index: 2;
}

.side-image-6 {
  bottom: 30px;
  left: 94px;
  z-index: -1;
}

.side-image-7 {
  top: 150px;
  left: 117px;
}

.footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  color: rgb(255, 255, 255);
}
.footer-image {
  z-index: -1;
  bottom: -180px;
  right: 5%;
}
.footer-logo {
  cursor: pointer;
}
.footer-logo-link {
  text-decoration: none;
  color: rgb(69, 143, 246);
}
.footer-name {
  cursor: pointer;
  font-weight: 700;
}
.footer-container {
  margin-top: 150px;
}

.readmore {
  color: rgb(69, 143, 246);
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
}

.text {
  max-width: 391px;
}

.section-6 {
  margin-top: 130px;
}

@media (max-width: 1400px) {
  .side-image-6 {
    bottom: 30px;
    left: 69px;
    z-index: -1;
  }
}
@media (max-width: 1300px) {
  .heading {
    font-size: 38px;
  }
  .side-image {
    width: 55px;
  }
  .image2 {
    max-width: 450px;
    height: auto;
  }
  .image1 {
    max-width: 100%;
  }
  .side-image-5 {
    right: 98px;
    top: -7px;
    z-index: 2;
    width: 95px;
  }
  .side-image-6 {
    bottom: 30px;
    left: 91px;
    z-index: -1;
    width: 85px;
  }
}
@media (max-width: 1200px) {
  .side-image-5 {
    right: 75px;
    top: -7px;
    z-index: 2;
    width: 95px;
  }
  .side-image-6 {
    bottom: 30px;
    left: 70px;
    z-index: -1;
    width: 85px;
  }
  .footer-container {
    margin-top: 50px;
  }
  .section2 {
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  .section2 {
    margin-top: 10px;
  }
  .image1 {
    max-width: 100%;
  }
  .card-img-top-services {
    min-height: 75px;
    max-height: 75px;
  }
  .section-6 {
    margin-top: 40px;
  }
}
@media (max-width: 992px) {
  .profile {
    width: 100%;
  }
  .profile-review {
    width: 100%;
  }
  .image1 {
    max-width: 80%;
  }
  .card-img-top-services {
    min-height: 65px;
    max-height: 65px;
  }
  .section2 {
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .image1 {
    max-width: 70%;
    height: auto;
  }
  .image2 {
    max-width: 70%;
    height: auto;
  }
  .heading-1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  .heading-1-review {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  .logo-name {
    font-size: 20px;
  }
  .navbar-logo {
    font-size: 20px;
    height: 30px;
    width: 30px;
    align-self: center;
    padding: 10px;
  }
  .para2,
  .para3,
  .para4 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
  }
  .button,
  .learn-more,
  .download {
    max-width: 150px;
    font-size: 12px;
    line-height: 28px;
  }
  .card-services {
    width: 90%;
    border-radius: 20px;
  }
  .card-services-title {
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 23px;
  }
  .card-services-text {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 22px;
  }
  .card-img-top-services {
    max-height: 50px;
    min-height: 50px;
  }
  .card-title {
    font-size: 16px;
    line-height: 23px;
  }
  .card-text {
    font-size: 14px;
    line-height: 20px;
  }
  .card-article {
    width: 90%;
    border-radius: 16px;
  }
  .card-article-title {
    width: 90%;
    font-size: 15px;
  }
  .card-text-article {
    width: 200px;
  }
  .card-img-top-article {
    width: 100%;
  }
  .learn-more,
  .download {
    max-width: 164px;
    font-size: 12px;
  }
  .profile {
    width: 100%;
  }
  .profile-image {
    height: 70px;
    width: 70px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
  }
  .profile-review {
    width: 100%;
  }
  .reviews {
    border-radius: 16px;
  }
  .options {
    line-height: 30px;
    font-size: 14px;
  }
  .svgarrow {
    height: 12px;
  }
  .readmore {
    font-size: 13px;
  }
  .text {
    font-size: 14px;
  }
  .copyrights {
    font-size: 13px;
  }
  .footer-name {
    font-size: 22px;
    font-weight: 700;
  }
  .footer-logo {
    font-size: 20px;
    height: 31px;
    width: 31px;
    border-radius: 40px;
  }
  .footer-container {
    margin-top: 35px;
  }
  .section2 {
    margin-top: 50px;
  }
}
@media (max-width: 576px) {
  .card-article {
    width: 75%;
  }
  .logof {
    font-size: 14px;
  }
  .heading {
    font-size: 18px;
    line-height: 18px;
  }
  .para1 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    max-width: 300px;
  }
}
